In [1]:
#Importing all the required libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from scipy.stats import zscore
import sklearn
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
#Reading the Train Dataset
Traindf=pd.read_excel('C:/Users/User/Documents/Data Trained/Data-Science-ML-Capstone-Projects-master/Doctor_fee_consultation/Final Participant Data Folder/Final_Train.xlsx')
Traindf.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [4]:
Traindf.shape

(5961, 7)

In [5]:
Traindf.columns

Index(['Qualification', 'Experience', 'Rating', 'Place', 'Profile',
       'Miscellaneous_Info', 'Fees'],
      dtype='object')

In [6]:
Traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5961 entries, 0 to 5960
Data columns (total 7 columns):
Qualification         5961 non-null object
Experience            5961 non-null object
Rating                2659 non-null object
Place                 5936 non-null object
Profile               5961 non-null object
Miscellaneous_Info    3341 non-null object
Fees                  5961 non-null int64
dtypes: int64(1), object(6)
memory usage: 326.1+ KB

In [7]:
#Checking missing values
Traindf.isnull().sum()

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64

In [8]:
Testdf=pd.read_excel('C:/Users/User/Documents/Data Trained/Data-Science-ML-Capstone-Projects-master/Doctor_fee_consultation/Final Participant Data Folder/Final_Test.xlsx')

In [9]:
Testdf.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...

In [10]:
Testdf.shape

(1987, 6)

In [11]:
Testdf.isnull().sum()

Qualification            0
Experience               0
Rating                1090
Place                    6
Profile                  0
Miscellaneous_Info     834
dtype: int64

In [12]:
Traindf['Data']='Train'
Testdf['Data']='Test'
Testdf['Fees']=0

In [13]:
df=pd.concat([Traindf,Testdf])
df

,Data,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating
0,Train,24 years experience,100,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100%
1,Train,12 years experience,350,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98%
2,Train,9 years experience,300,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",NaN
3,Train,12 years experience,250,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",NaN
4,Train,20 years experience,250,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100%
5,Train,8 years experience,100,NaN,"Porur, Chennai",Ayurveda,BAMS,NaN
6,Train,42 years experience,200,NaN,"Karol Bagh, Delhi",Homeopath,BHMS,NaN
7,Train,10 years experience,200,Dental Fillings Crowns and Bridges Fixing Impa...,"Arekere, Bangalore",Dentist,BDS,99%
8,Train,14 years experience,100,NaN,"Old City, Hyderabad",General Medicine,"MBBS, MD - General Medicine",NaN
9,Train,23 years experience,100,NaN,"Athani, Ernakulam",Dentist,"BSc, BDS",NaN
10,Train,5 years experience,700,NaN,"Thousand Lights, Chennai",ENT Specialist,"MBBS, MS, DNB - ENT",NaN
11,Train,7 years experience,100,NaN,"Somajiguda, Hyderabad",Ayurveda,BAMS,NaN
12,Train,9 years experience,200,"98% 14 Feedback Coimbatore Racecourse, Coimbatore","Coimbatore Racecourse, Coimbatore",Dentist,"BDS, MDS",98%
13,Train,21 years experience,350,Dental Crowns Facet Dental Dental prophylaxis,"Jubilee Hills, Hyderabad",Dentist,"BDS, MDS - Oral & Maxillofacial Surgery",NaN
14,Train,12 years experience,500,NaN,"Kondli, Delhi",ENT Specialist,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",NaN
15,Train,10 years experience,200,NaN,"Saroor Nagar, Hyderabad",General Medicine,"MBBS, MD - General Medicine",NaN
16,Train,24 years experience,100,NaN,"Tambaram West, Chennai",ENT Specialist,"MBBS, Diploma in Otorhinolaryngology (DLO)",NaN
17,Train,5 years experience,300,NaN,"Purasawakkam, Chennai",Homeopath,"MBBS, MF- Homeopathy",NaN
18,Train,19 years experience,400,"79% 8 Feedback KPHB, Hyderabad","KPHB, Hyderabad",ENT Specialist,"MBBS, MS - ENT",79%
19,Train,19 years experience,150,"100% 4 Feedback HSR Layout, Bangalore","HSR Layout, Bangalore",General Medicine,MBBS,100%
20,Train,21 years experience,100,"100% 7 Feedback Pollachi, Coimbatore","Pollachi, Coimbatore",Dentist,"MDS, DNB, BDS",100%
21,Train,14 years experience,500,Adenoid / Tonsil Surgery Rhinoplasty Laryngoscopy,"Vasundhra Enclave, Delhi",ENT Specialist,"MBBS, DNB - ENT",NaN
22,Train,41 years experience,200,NaN,"Chembur, Mumbai",General Medicine,MBBS,NaN
23,Train,31 years experience,100,NaN,"Thammanam, Ernakulam",General Medicine,"MBBS, Fellowship of College of General Practic...",NaN
24,Train,23 years experience,100,NaN,"Andheri, Mumbai",Dermatologists,"MBBS, DDVL",NaN
25,Train,5 years experience,100,NaN,"Pattom, Thiruvananthapuram",Dentist,BDS,NaN
26,Train,25 years experience,500,"100% 46 Feedback HSR Layout, Bangalore","HSR Layout, Bangalore",General Medicine,"MBBS, IBCLC (USA)",100%
27,Train,12 years experience,250,"95% 6 Feedback Kukatpally, Hyderabad","Kukatpally, Hyderabad",General Medicine,"MBBS, MD - General Medicine, Post Graduate Dip...",95%
28,Train,16 years experience,100,NaN,"Vadavalli, Coimbatore",Dentist,"BDS, MDS",NaN
29,Train,15 years experience,500,"97% 60 Feedback Defence Colony, Delhi","Defence Colony, Delhi",Dermatologists,"Diploma in Dermatology, MBBS",97%
...,...,...,...,...,...,...,...,...
1957,Test,8 years experience,0,"100% 12 Feedback KPHB, Hyderabad","KPHB, Hyderabad",Dentist,"MD - Acupuncture, PG Diploma In Clinical Cosme...",100%
1958,Test,40 years experience,0,"53% 12 Feedback Millers Road, Bangalore","Millers Road, Bangalore",ENT Specialist,"MBBS, MS - ENT, Diploma in Otorhinolaryngology...",53%
1959,Test,43 years experience,0,Viral Fever Treatment Dengue Fever Treatment T...,"Vileparle West, Mumbai",General Medicine,"MBBS, MD - Medicine",NaN
1960,Test,29 years experience,0,Dental Implant Fixing Invisible/Clear Braces C...,"Punjagutta, Hyderabad",Dentist,"BDS, MDS - Orthodontics",95%
1961,Test,2 years experience,0,"3 Feedback Malleswaram, Bangalore ₹500","Malleswaram, Bangalore",Homeopath,BHMS,NaN
1962,Test,12 years experience,0,"100% 23 Feedback Rohini, Delhi","Rohini, Delhi",General Medicine,"MBBS, PGDHA",100%
1963,Test,3 years experience,0,NaN,"Habsiguda, Hyderabad",Homeopath,BHMS,NaN
1964,Test,8 years experience,0,NaN,"Ramanathapuram, Coimbatore",Dentist,"BDS, MDS - Prosthodontist And Crown Bridge, Ce...",NaN
1965,Test,35 years experience,0,"88% 5 Feedback Choolai, Chennai","Choolai, Chennai",General Medicine,"MBBS, MRCOG(UK)",88%
1966,Test,24 years experience,0,NaN,"Tambaram, Chennai",General Medicine,"MD - Medicine, Post Graduate Diploma in Diabet...",NaN
1967,Test,13 years experience,0,Gum Disease Treatment/ Surgery Dental Implant ...,"Yelahanka, Bangalore",Dentist,MDS - Periodontics,98%
1968,Test,23 years experience,0,"96% 12 Feedback Indiranagar, Bangalore","Indiranagar, Bangalore",General Medicine,"MBBS, DNB - Family Medicine",96%
1969,Test,32 years experience,0,NaN,"Chembur, Mumbai",Ayurveda,"BAMS, MD - Ayurveda Medicine",NaN
1970,Test,7 years experience,0,NaN,"Sundarapuram, Coimbatore",Dentist,MDS - Prosthodontist And Crown Bridge,NaN
1971,Test,26 years experience,0,Endoscopic DCR Sleep related disorders such as...,"Okhla, Delhi",ENT Specialist,"MBBS, MS - ENT",NaN
1972,Test,15 years experience,0,"93% 36 Feedback Moti Nagar, Hyderabad","Moti Nagar, Hyderabad",Dermatologists,"MBBS, Diploma in Dermatology",93%
1973,Test,4 years experience,0,Skin Allergy Treatment Skin Allergies Dermabra...,"Velachery, Chennai",Dermatologists,"MBBS, DDV",NaN
1974,Test,19 years experience,0,NaN,"Munirka, Delhi",ENT Specialist,"MBBS, Diploma in Otorhinolaryngology (DLO)",NaN
1975,Test,26 years experience,0,foot and ankle problems 1 Feedback Panchsheel ...,"Panchsheel Park, Delhi",General Medicine,MBBS,NaN
1976,Test,11 years experience,0,"84% 20 Feedback Miyapur, Hyderabad","Miyapur, Hyderabad",ENT Specialist,"MBBS, MS - Otorhinolaryngology",84%
1977,Test,28 years experience,0,"Panchsheel Park, Delhi ₹1,000 Available Tomorrow","Panchsheel Park, Delhi",General Medicine,"MBBS, MS - General Surgery, FAIS, FIAGES",NaN
1978,Test,15 years experience,0,"Prabhadevi, Mumbai ₹1,000 Visits On-Call","Prabhadevi, Mumbai",Dentist,"BDS, MDS - Endodontics",NaN
1979,Test,17 years experience,0,General Dentistry Dental Fillings RCT - Single...,"Powai, Mumbai",Dentist,"BDS, MDS - Oral & Maxillofacial Surgery",100%
1980,Test,18 years experience,0,"98% 240 Feedback Velachery, Chennai","Velachery, Chennai",Dentist,"MDS - Pedodontics, BDS",98%
1981,Test,8 years experience,0,NaN,"Lajpat Nagar III, Delhi",Dermatologists,"MBBS, MD - Dermatology , Venereology & Leprosy...",NaN
1982,Test,10 years experience,0,NaN,"Basavanagudi, Bangalore",Ayurveda,"BAMS, Doctor of Medicine",NaN
1983,Test,4 years experience,0,NaN,"Choolai, Chennai",Dermatologists,"MD - Dermatology , Venereology & Leprosy, MBBS",NaN
1984,Test,9 years experience,0,NaN,"Porur, Chennai",General Medicine,"MBBS, MD / MS - Obstetrics & Gynaecology",NaN
1985,Test,12 years experience,0,RCT - Root Canal Treatment Root Canal Treatmen...,"Arekere, Bangalore",Dentist,BDS,98%
1986,Test,8 years experience,0,"1 Feedback Pallikaranai, Chennai ₹500","Pallikaranai, Chennai",Dermatologists,"MBBS, MD - Dermatology , Venereology & Leprosy",NaN

In [14]:
#Resetting the index
df.reset_index(drop=True,inplace=True)
df

,Data,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating
0,Train,24 years experience,100,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100%
1,Train,12 years experience,350,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98%
2,Train,9 years experience,300,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",NaN
3,Train,12 years experience,250,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",NaN
4,Train,20 years experience,250,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100%
5,Train,8 years experience,100,NaN,"Porur, Chennai",Ayurveda,BAMS,NaN
6,Train,42 years experience,200,NaN,"Karol Bagh, Delhi",Homeopath,BHMS,NaN
7,Train,10 years experience,200,Dental Fillings Crowns and Bridges Fixing Impa...,"Arekere, Bangalore",Dentist,BDS,99%
8,Train,14 years experience,100,NaN,"Old City, Hyderabad",General Medicine,"MBBS, MD - General Medicine",NaN
9,Train,23 years experience,100,NaN,"Athani, Ernakulam",Dentist,"BSc, BDS",NaN
10,Train,5 years experience,700,NaN,"Thousand Lights, Chennai",ENT Specialist,"MBBS, MS, DNB - ENT",NaN
11,Train,7 years experience,100,NaN,"Somajiguda, Hyderabad",Ayurveda,BAMS,NaN
12,Train,9 years experience,200,"98% 14 Feedback Coimbatore Racecourse, Coimbatore","Coimbatore Racecourse, Coimbatore",Dentist,"BDS, MDS",98%
13,Train,21 years experience,350,Dental Crowns Facet Dental Dental prophylaxis,"Jubilee Hills, Hyderabad",Dentist,"BDS, MDS - Oral & Maxillofacial Surgery",NaN
14,Train,12 years experience,500,NaN,"Kondli, Delhi",ENT Specialist,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",NaN
15,Train,10 years experience,200,NaN,"Saroor Nagar, Hyderabad",General Medicine,"MBBS, MD - General Medicine",NaN
16,Train,24 years experience,100,NaN,"Tambaram West, Chennai",ENT Specialist,"MBBS, Diploma in Otorhinolaryngology (DLO)",NaN
17,Train,5 years experience,300,NaN,"Purasawakkam, Chennai",Homeopath,"MBBS, MF- Homeopathy",NaN
18,Train,19 years experience,400,"79% 8 Feedback KPHB, Hyderabad","KPHB, Hyderabad",ENT Specialist,"MBBS, MS - ENT",79%
19,Train,19 years experience,150,"100% 4 Feedback HSR Layout, Bangalore","HSR Layout, Bangalore",General Medicine,MBBS,100%
20,Train,21 years experience,100,"100% 7 Feedback Pollachi, Coimbatore","Pollachi, Coimbatore",Dentist,"MDS, DNB, BDS",100%
21,Train,14 years experience,500,Adenoid / Tonsil Surgery Rhinoplasty Laryngoscopy,"Vasundhra Enclave, Delhi",ENT Specialist,"MBBS, DNB - ENT",NaN
22,Train,41 years experience,200,NaN,"Chembur, Mumbai",General Medicine,MBBS,NaN
23,Train,31 years experience,100,NaN,"Thammanam, Ernakulam",General Medicine,"MBBS, Fellowship of College of General Practic...",NaN
24,Train,23 years experience,100,NaN,"Andheri, Mumbai",Dermatologists,"MBBS, DDVL",NaN
25,Train,5 years experience,100,NaN,"Pattom, Thiruvananthapuram",Dentist,BDS,NaN
26,Train,25 years experience,500,"100% 46 Feedback HSR Layout, Bangalore","HSR Layout, Bangalore",General Medicine,"MBBS, IBCLC (USA)",100%
27,Train,12 years experience,250,"95% 6 Feedback Kukatpally, Hyderabad","Kukatpally, Hyderabad",General Medicine,"MBBS, MD - General Medicine, Post Graduate Dip...",95%
28,Train,16 years experience,100,NaN,"Vadavalli, Coimbatore",Dentist,"BDS, MDS",NaN
29,Train,15 years experience,500,"97% 60 Feedback Defence Colony, Delhi","Defence Colony, Delhi",Dermatologists,"Diploma in Dermatology, MBBS",97%
...,...,...,...,...,...,...,...,...
7918,Test,8 years experience,0,"100% 12 Feedback KPHB, Hyderabad","KPHB, Hyderabad",Dentist,"MD - Acupuncture, PG Diploma In Clinical Cosme...",100%
7919,Test,40 years experience,0,"53% 12 Feedback Millers Road, Bangalore","Millers Road, Bangalore",ENT Specialist,"MBBS, MS - ENT, Diploma in Otorhinolaryngology...",53%
7920,Test,43 years experience,0,Viral Fever Treatment Dengue Fever Treatment T...,"Vileparle West, Mumbai",General Medicine,"MBBS, MD - Medicine",NaN
7921,Test,29 years experience,0,Dental Implant Fixing Invisible/Clear Braces C...,"Punjagutta, Hyderabad",Dentist,"BDS, MDS - Orthodontics",95%
7922,Test,2 years experience,0,"3 Feedback Malleswaram, Bangalore ₹500","Malleswaram, Bangalore",Homeopath,BHMS,NaN
7923,Test,12 years experience,0,"100% 23 Feedback Rohini, Delhi","Rohini, Delhi",General Medicine,"MBBS, PGDHA",100%
7924,Test,3 years experience,0,NaN,"Habsiguda, Hyderabad",Homeopath,BHMS,NaN
7925,Test,8 years experience,0,NaN,"Ramanathapuram, Coimbatore",Dentist,"BDS, MDS - Prosthodontist And Crown Bridge, Ce...",NaN
7926,Test,35 years experience,0,"88% 5 Feedback Choolai, Chennai","Choolai, Chennai",General Medicine,"MBBS, MRCOG(UK)",88%
7927,Test,24 years experience,0,NaN,"Tambaram, Chennai",General Medicine,"MD - Medicine, Post Graduate Diploma in Diabet...",NaN
7928,Test,13 years experience,0,Gum Disease Treatment/ Surgery Dental Implant ...,"Yelahanka, Bangalore",Dentist,MDS - Periodontics,98%
7929,Test,23 years experience,0,"96% 12 Feedback Indiranagar, Bangalore","Indiranagar, Bangalore",General Medicine,"MBBS, DNB - Family Medicine",96%
7930,Test,32 years experience,0,NaN,"Chembur, Mumbai",Ayurveda,"BAMS, MD - Ayurveda Medicine",NaN
7931,Test,7 years experience,0,NaN,"Sundarapuram, Coimbatore",Dentist,MDS - Prosthodontist And Crown Bridge,NaN
7932,Test,26 years experience,0,Endoscopic DCR Sleep related disorders such as...,"Okhla, Delhi",ENT Specialist,"MBBS, MS - ENT",NaN
7933,Test,15 years experience,0,"93% 36 Feedback Moti Nagar, Hyderabad","Moti Nagar, Hyderabad",Dermatologists,"MBBS, Diploma in Dermatology",93%
7934,Test,4 years experience,0,Skin Allergy Treatment Skin Allergies Dermabra...,"Velachery, Chennai",Dermatologists,"MBBS, DDV",NaN
7935,Test,19 years experience,0,NaN,"Munirka, Delhi",ENT Specialist,"MBBS, Diploma in Otorhinolaryngology (DLO)",NaN
7936,Test,26 years experience,0,foot and ankle problems 1 Feedback Panchsheel ...,"Panchsheel Park, Delhi",General Medicine,MBBS,NaN
7937,Test,11 years experience,0,"84% 20 Feedback Miyapur, Hyderabad","Miyapur, Hyderabad",ENT Specialist,"MBBS, MS - Otorhinolaryngology",84%
7938,Test,28 years experience,0,"Panchsheel Park, Delhi ₹1,000 Available Tomorrow","Panchsheel Park, Delhi",General Medicine,"MBBS, MS - General Surgery, FAIS, FIAGES",NaN
7939,Test,15 years experience,0,"Prabhadevi, Mumbai ₹1,000 Visits On-Call","Prabhadevi, Mumbai",Dentist,"BDS, MDS - Endodontics",NaN
7940,Test,17 years experience,0,General Dentistry Dental Fillings RCT - Single...,"Powai, Mumbai",Dentist,"BDS, MDS - Oral & Maxillofacial Surgery",100%
7941,Test,18 years experience,0,"98% 240 Feedback Velachery, Chennai","Velachery, Chennai",Dentist,"MDS - Pedodontics, BDS",98%
7942,Test,8 years experience,0,NaN,"Lajpat Nagar III, Delhi",Dermatologists,"MBBS, MD - Dermatology , Venereology & Leprosy...",NaN
7943,Test,10 years experience,0,NaN,"Basavanagudi, Bangalore",Ayurveda,"BAMS, Doctor of Medicine",NaN
7944,Test,4 years experience,0,NaN,"Choolai, Chennai",Dermatologists,"MD - Dermatology , Venereology & Leprosy, MBBS",NaN
7945,Test,9 years experience,0,NaN,"Porur, Chennai",General Medicine,"MBBS, MD / MS - Obstetrics & Gynaecology",NaN
7946,Test,12 years experience,0,RCT - Root Canal Treatment Root Canal Treatmen...,"Arekere, Bangalore",Dentist,BDS,98%
7947,Test,8 years experience,0,"1 Feedback Pallikaranai, Chennai ₹500","Pallikaranai, Chennai",Dermatologists,"MBBS, MD - Dermatology , Venereology & Leprosy",NaN

In [15]:
#Chceking the null values if any
df.isnull().sum()

Data                     0
Experience               0
Fees                     0
Miscellaneous_Info    3454
Place                   31
Profile                  0
Qualification            0
Rating                4392
dtype: int64

In [16]:
df.dtypes

Data                  object
Experience            object
Fees                   int64
Miscellaneous_Info    object
Place                 object
Profile               object
Qualification         object
Rating                object
dtype: object

In [17]:
#Chceking the value counts of object type columns
for col in df.columns:
    if df[col].dtype=="object":
        print(df[col].value_counts())
        print()

Train    5961
Test     1987
Name: Data, dtype: int64

9 years experience     419
10 years experience    404
8 years experience     380
11 years experience    374
12 years experience    358
19 years experience    343
14 years experience    332
7 years experience     329
13 years experience    325
6 years experience     280
15 years experience    257
18 years experience    254
17 years experience    251
5 years experience     238
16 years experience    237
20 years experience    204
21 years experience    202
22 years experience    184
23 years experience    168
4 years experience     159
3 years experience     144
24 years experience    131
0 years experience     118
25 years experience    115
29 years experience    113
28 years experience    111
27 years experience    111
26 years experience    103
34 years experience     94
30 years experience     86
                      ...
36 years experience     73
33 years experience     73
39 years experience     70
37 years experience     69
35 years experience     65
40 years experience     61
42 years experience     52
43 years experience     50
41 years experience     48
44 years experience     48
46 years experience     38
45 years experience     28
49 years experience     22
47 years experience     20
48 years experience     17
51 years experience     14
50 years experience     12
54 years experience      7
52 years experience      6
59 years experience      5
53 years experience      4
56 years experience      4
55 years experience      3
65 years experience      2
57 years experience      2
66 years experience      1
58 years experience      1
61 years experience      1
64 years experience      1
60 years experience      1
Name: Experience, Length: 64, dtype: int64

Acrylic Partial Denture Crowns and Bridges Fixing Artificial Teeth                               50
Skin Allergy Treatment Skin Allergies Dermabrasion                                               18
Tooth Extraction Dental Fillings Scaling / Polishing                                             16
Dental Fillings Zirconia Crowns Dental Implant Fixing                                            15
Dermabrasion Laser Resurfacing Acne / Pimples Treatment                                          14
Skin Disease Treatment Kidney Stone Treatment Gall Bladder (Biliary) Stone Treatment             10
Balance Exercises Acne / Pimples Treatment Insulin Treatment                                     10
Laser Resurfacing Scar Treatment Wart Removal                                                     9
Ceramic Veneers / Crowns Tooth Extraction Dental Fillings                                         9
Acrylic Partial Denture Artificial Teeth BPS Dentures Fixing                                      9
Crowns and Bridges Fixing Artificial Teeth Impaction / Impacted Tooth Extraction                  9
Cosmetic/ Aesthetic Dentistry Crowns and Bridges Fixing Complete/Partial Dentures Fixing          9
Dental Fillings Dental Implant Fixing General Dentistry                                           8
Skin Care Bacterial Skin Infection Treatment skin checks                                          8
Acne / Pimples Treatment Scar Treatment Wart Removal                                              8
Crowns and Bridges Fixing Complete/Partial Dentures Fixing Tooth Extraction                       8
Acrylic Partial Denture Artificial Teeth Impaction / Impacted Tooth Extraction                    8
Health Checkup (General) Infectious Disease Treatment Viral Fever Treatment                       7
Laser Hair Removal Treatment Acne / Pimples Treatment Hair Breakage                               7
Crowns and Bridges Fixing Cast Partial Denture Cosmetic/ Aesthetic Dentistry                      7
Orthodontics General Dentistry RCT - Single Sitting                                               7
Crowns and Bridges Fixing Impaction / Impacted Tooth Extraction Conservative Dentistry            7
Wrinkle Treatment Allergy Treatment Viral Fever Treatment                                         6
Manapakkam, Chennai ₹600 Visits Today                                                             6
Impaction / Impacted Tooth Extraction Conservative Dentistry Cosmetic/ Aesthetic Dentistry        5
Impaction / Impacted Tooth Extraction Cosmetic/ Aesthetic Dentistry Crowns and Bridges Fixing     5
Dermabrasion Wrinkle Treatment Microdermabrasion                                                  5
Cosmetic/ Aesthetic Dentistry Crowns and Bridges Fixing Tooth Extraction                          5
Dermabrasion Acne / Pimples Treatment Laser Resurfacing                                           5
Acrylic Partial Denture Crowns and Bridges Fixing BPS Dentures Fixing                             5
                                                                                                 ..
Insulin Treatment Hypertension Treatment General Health Care                                      1
97% 11 Feedback Whitefield, Bangalore                                                             1
Balance Exercises Chickenpox Treatment Neck Pain Treatment                                        1
Invisible/Clear Braces Gap Closing Presurgical Orthodontics                                       1
Presurgical Orthodontics Crowns and Bridges Fixing Dental Implant Fixing                          1
92% 7 Feedback Banashankari, Bangalore                                                            1
Impaction / Impacted Tooth Extraction RCT - Root Canal Treatment Post and Core                    1
74% 14 Feedback Mulund West, Mumbai                                                               1
Acrylic Partial Denture Cast Partial Denture Cosmetic/ Aesthetic Dentistry                        1
92% 6 Feedback Yelahanka New Town, Bangalore                                                      1
Microsurgery of the Larynx Thyroplasty Rhinoplasty                                                1
Panchakarma Podikizhi Skin Care                                                                   1
Type 1 Diabetes Treatment Diabetes Management Type 2 Diabetes Treatment                           1
89% 11 Feedback Bannerghatta Road, Bangalore                                                      1
98% 5 Feedback Coimbatore Racecourse, Coimbatore                                                  1
Conservative Dentistry Complete/Partial Dentures Fixing Impaction / Impacted Tooth Extraction     1
97% 29 Feedback Palarivattom, Ernakulam                                                           1
86% 10 Feedback Vanasthalipuram, Hyderabad                                                        1
97% 46 Feedback Prabhadevi, Mumbai                                                                1
55% 7 Feedback Defence Colony, Delhi                                                              1
85% 12 Feedback Banjara Hills, Hyderabad                                                          1
100% 222 Feedback Malkajgiri, Hyderabad                                                           1
Dental Checkup (General) Oral Surgery Procedures Smile Design                                     1
98% 6 Feedback Sarjapur Road, Bangalore                                                           1
99% 50 Feedback Janak Puri, Delhi                                                                 1
Insulin Treatment Type 1 Diabetes Treatment Gestational Diabetes Management                       1
Dental Implant Fixing Zirconia Crowns RCT - Single Sitting                                        1
77% 6 Feedback Hauz Khas, Delhi                                                                   1
100% 11 Feedback Frazer Town, Bangalore                                                           1
100% 46 Feedback HSR Layout, Bangalore                                                            1
Name: Miscellaneous_Info, Length: 3980, dtype: int64

Andheri West, Mumbai                97
HSR Layout, Bangalore               97
Dwarka, Delhi                       93
Banjara Hills, Hyderabad            85
Mulund West, Mumbai                 81
Whitefield, Bangalore               70
Borivali West, Mumbai               68
Indiranagar, Bangalore              62
Pitampura, Delhi                    61
Malleswaram, Bangalore              61
Malad West, Mumbai                  60
Kandivali West, Mumbai              60
Bannerghatta Road, Bangalore        57
Vileparle West, Mumbai              57
Jubilee Hills, Hyderabad            56
Rohini, Delhi                       56
Shalimar Bagh, Delhi                53
Adyar, Chennai                      53
Powai, Mumbai                       53
KPHB, Hyderabad                     50
Kondapur, Hyderabad                 50
Andheri East, Mumbai                49
Secunderabad, Hyderabad             49
Marathahalli, Bangalore             49
Ghatkopar East, Mumbai              49
Bandra West, Mumbai                 48
Janak Puri, Delhi                   47
Madhapur, Hyderabad                 46
R.S. Puram, Coimbatore              45
Paschim Vihar, Delhi                44
                                    ..
Silampur, Delhi                      1
Nedumbassery, Ernakulam              1
Kala Ghoda, Mumbai                   1
Cherannagar, Coimbatore              1
Meerpet, Hyderabad                   1
Edakochi, Ernakulam                  1
Nehru Place, Delhi                   1
PMG Jn, Thiruvananthapuram           1
Pachalam, Ernakulam                  1
Paruthippara, Thiruvananthapuram     1
Vazhakulam, Ernakulam                1
Rani Khera, Delhi                    1
Puthenvelikkara, Ernakulam           1
Sithalapakkam, Chennai               1
Sarvapriya Vihar, Delhi              1
Beeramguda, Hyderabad                1
Indirapuram, Delhi                   1
Nampally, Hyderabad                  1
Deoli, Delhi                         1
Madanpura, Mumbai                    1
Poojapura, Thiruvananthapuram        1
IDA Jeedimetla, Hyderabad            1
J.C Nagar, Bangalore                 1
Radhakrishnan Salai, Chennai         1
Neeti Bagh, Delhi                    1
Vasant Enclave, Delhi                1
Siddapura, Bangalore                 1
Kowdiar, Thiruvananthapuram          1
Nemom, Thiruvananthapuram            1
Nedumangad, Thiruvananthapuram       1
Name: Place, Length: 948, dtype: int64

Dentist             1838
General Medicine    1617
Dermatologists      1373
Homeopath           1120
Ayurveda            1037
ENT Specialist       963
Name: Profile, dtype: int64

BDS                                                                                                                                                                                                           632
BHMS                                                                                                                                                                                                          627
BAMS                                                                                                                                                                                                          624
MBBS                                                                                                                                                                                                          441
MBBS, MS - ENT                                                                                                                                                                                                280
MBBS, MD - Dermatology                                                                                                                                                                                        242
MBBS, MD - General Medicine                                                                                                                                                                                   227
MBBS, MD - Dermatology , Venereology & Leprosy                                                                                                                                                                193
MBBS, DDVL                                                                                                                                                                                                    123
BHMS, MD - Homeopathy                                                                                                                                                                                         120
MBBS, Diploma in Otorhinolaryngology (DLO)                                                                                                                                                                    114
BAMS, MD - Ayurveda Medicine                                                                                                                                                                                  106
BDS, MDS - Conservative Dentistry & Endodontics                                                                                                                                                                89
MBBS, DDV                                                                                                                                                                                                      81
BDS, MDS                                                                                                                                                                                                       77
BDS, MDS - Oral & Maxillofacial Surgery                                                                                                                                                                        76
MD - Dermatology , Venereology & Leprosy, MBBS                                                                                                                                                                 66
MBBS, MD - Medicine                                                                                                                                                                                            62
MBBS, MS - Otorhinolaryngology                                                                                                                                                                                 61
BDS, MDS - Prosthodontics                                                                                                                                                                                      60
BDS, MDS - Orthodontics                                                                                                                                                                                        54
MBBS, MD - Internal Medicine                                                                                                                                                                                   54
MS - ENT, MBBS                                                                                                                                                                                                 47
BDS, MDS - Paedodontics And Preventive Dentistry                                                                                                                                                               43
BDS, MDS - Periodontology and Oral Implantology                                                                                                                                                                41
MBBS, Diploma in Otorhinolaryngology (DLO), DNB - ENT                                                                                                                                                          37
MBBS, Diploma in Dermatology                                                                                                                                                                                   37
BDS, MDS - Orthodontics and Dentofacial Orthopaedics                                                                                                                                                           37
MD - Dermatology, MBBS                                                                                                                                                                                         36
BDS, MDS - Prosthodontist And Crown Bridge                                                                                                                                                                     35
                                                                                                                                                                                                             ...
BDS, MDS - Periodontics, Fellowship and Diplomate in Implantology from ICOI (USA), DICOI                                                                                                                        1
MBBS, MD - Pharmacology, Diploma in Family Medicine (DFM)                                                                                                                                                       1
MBBS, MD - General Medicine, CCEBDM, Fellowship in Diabetology                                                                                                                                                  1
MBBS, MS - General Surgery, DNB, M.Ch                                                                                                                                                                           1
MD - Skin,VD & Leprosy, DDV, MBBS                                                                                                                                                                               1
Diploma in Otorhinolaryngology (DLO), Diploma in ENT                                                                                                                                                            1
MDS - Orthodontics, BDS, MOrth                                                                                                                                                                                  1
MBBS, DNB - Family Medicine, DAA                                                                                                                                                                                1
MBBS, MD - Dermatology, Fellow of Academy of General Education (FAGE)                                                                                                                                           1
BHMS, Certificate in Sports Nutrition, Fellowship in Cardiac Rehabilitation                                                                                                                                     1
Fellowship in Oral implantlogy, MDS - Oral & Maxillofacial Surgery, BDS                                                                                                                                         1
BHMS, MS - Counselling & Psychotherapy                                                                                                                                                                          1
MD - Ayurveda Medicine, Diploma In Naturopathy (ND)                                                                                                                                                             1
MBBS, DNB - Neurology, DNB - General Medicine                                                                                                                                                                   1

In [18]:
#Dropping the Miscelleneous column
df["Miscellaneous_Info"].fillna("missing",inplace=True)

In [19]:
#Experience Column
df["Experience"]=df["Experience"].str.strip(" years experience")

In [20]:
#converting the Experience column to int
df["Experience"]=df["Experience"].astype(int)

In [21]:
#Place Column
df["Place"].value_counts()

Andheri West, Mumbai                97
HSR Layout, Bangalore               97
Dwarka, Delhi                       93
Banjara Hills, Hyderabad            85
Mulund West, Mumbai                 81
Whitefield, Bangalore               70
Borivali West, Mumbai               68
Indiranagar, Bangalore              62
Pitampura, Delhi                    61
Malleswaram, Bangalore              61
Malad West, Mumbai                  60
Kandivali West, Mumbai              60
Bannerghatta Road, Bangalore        57
Vileparle West, Mumbai              57
Jubilee Hills, Hyderabad            56
Rohini, Delhi                       56
Shalimar Bagh, Delhi                53
Adyar, Chennai                      53
Powai, Mumbai                       53
KPHB, Hyderabad                     50
Kondapur, Hyderabad                 50
Andheri East, Mumbai                49
Secunderabad, Hyderabad             49
Marathahalli, Bangalore             49
Ghatkopar East, Mumbai              49
Bandra West, Mumbai                 48
Janak Puri, Delhi                   47
Madhapur, Hyderabad                 46
R.S. Puram, Coimbatore              45
Paschim Vihar, Delhi                44
                                    ..
Silampur, Delhi                      1
Nedumbassery, Ernakulam              1
Kala Ghoda, Mumbai                   1
Cherannagar, Coimbatore              1
Meerpet, Hyderabad                   1
Edakochi, Ernakulam                  1
Nehru Place, Delhi                   1
PMG Jn, Thiruvananthapuram           1
Pachalam, Ernakulam                  1
Paruthippara, Thiruvananthapuram     1
Vazhakulam, Ernakulam                1
Rani Khera, Delhi                    1
Puthenvelikkara, Ernakulam           1
Sithalapakkam, Chennai               1
Sarvapriya Vihar, Delhi              1
Beeramguda, Hyderabad                1
Indirapuram, Delhi                   1
Nampally, Hyderabad                  1
Deoli, Delhi                         1
Madanpura, Mumbai                    1
Poojapura, Thiruvananthapuram        1
IDA Jeedimetla, Hyderabad            1
J.C Nagar, Bangalore                 1
Radhakrishnan Salai, Chennai         1
Neeti Bagh, Delhi                    1
Vasant Enclave, Delhi                1
Siddapura, Bangalore                 1
Kowdiar, Thiruvananthapuram          1
Nemom, Thiruvananthapuram            1
Nedumangad, Thiruvananthapuram       1
Name: Place, Length: 948, dtype: int64

In [22]:
top_doc_places=df["Place"].value_counts().index[0:5]

In [23]:
null_condition=df[["Place"]].isnull()
null_condition

      Place
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
...     ...
7918  False
7919  False
7920  False
7921  False
7922  False
7923  False
7924  False
7925  False
7926  False
7927  False
7928  False
7929  False
7930  False
7931  False
7932  False
7933  False
7934  False
7935  False
7936  False
7937  False
7938  False
7939  False
7940  False
7941  False
7942  False
7943  False
7944  False
7945  False
7946  False
7947  False

[7948 rows x 1 columns]

In [24]:
#Imputing the null values with fisrt top 5 popular places where doctor sit
null_condition=df[["Place"]].isnull()
count=0
for index_null in null_condition.index:
    if null_condition.loc[index_null][0]==True:
        if count%5==0:
            df.loc[index_null,["Place"]]=top_doc_places[0]
        if count%5==1:
            df.loc[index_null,["Place"]]=top_doc_places[1]
        if count%5==2:
            df.loc[index_null,["Place"]]=top_doc_places[2]
        if count%5==3:
            df.loc[index_null,["Place"]]=top_doc_places[3]
        if count%5==4:
            df.loc[index_null,["Place"]]=top_doc_places[4]
        count=count+1

In [25]:
max_address_length=-1
for i in range(len(df["Place"])):
    temp=len(df["Place"].iloc[i].strip().upper().split(","))
    if temp>max_address_length:
        max_address_length=temp
print("Max address length is :{}".format(max_address_length))

Max address length is :3

In [26]:
p1=list()
p2=list()
p3=list()
for i in range(len(df["Place"])):
    temp=df["Place"].iloc[i].split(",")
    try :
        p1.append(temp[0].strip().upper())
    except :
        p1.append('NONE')
    try :
        p2.append(temp[1].strip().upper())
    except :
        p2.append('NONE')
    try :
        p3.append(temp[2].strip().upper())
    except :
        p3.append('NONE')

In [27]:
df["p1"]=p1
df["p2"]=p2
df["p3"]=p3

In [28]:
df.loc[df["p3"]!="NONE"]

,Data,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating,p1,p2,p3
2169,Train,11,250,missing,"Dwarka, Sector 5, Delhi",Dentist,BDS,NaN,DWARKA,SECTOR 5,DELHI

In [29]:
df.loc[df["p3"]!="NONE", ['p2']] = df[['p3']]

In [30]:
df["p2"].fillna("DELHI",inplace=True)

In [31]:
df.loc[df["p3"]!="NONE"]

,Data,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating,p1,p2,p3
2169,Train,11,250,missing,"Dwarka, Sector 5, Delhi",Dentist,BDS,NaN,DWARKA,DELHI,DELHI

In [32]:
df.drop(columns=["p3","Place"],inplace=True)

In [33]:
#Profile Column

In [34]:
df["Profile"].value_counts()

Dentist             1838
General Medicine    1617
Dermatologists      1373
Homeopath           1120
Ayurveda            1037
ENT Specialist       963
Name: Profile, dtype: int64

In [35]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [36]:
df['Profile']=le.fit_transform(df['Profile'])

In [37]:
df.dtypes

Data                  object
Experience             int32
Fees                   int64
Miscellaneous_Info    object
Profile                int32
Qualification         object
Rating                object
p1                    object
p2                    object
dtype: object

In [38]:
#Rating Clumn
df.groupby(["Profile"]).agg({"Rating":lambda x: x.value_counts().index[0]})

        Rating
Profile
0         100%
1         100%
2         100%
3         100%
4         100%
5         100%

In [39]:
#strip the"%" of Rating
df["Rating"]=df["Rating"].str.strip("%")

In [40]:
#Converting Rating to float 
df["Rating"]=df["Rating"].astype(float)

In [41]:
df.dtypes

Data                   object
Experience              int32
Fees                    int64
Miscellaneous_Info     object
Profile                 int32
Qualification          object
Rating                float64
p1                     object
p2                     object
dtype: object

In [42]:
df["Rating"].fillna(0,inplace=True)

In [43]:
df.isnull().sum()

Data                  0
Experience            0
Fees                  0
Miscellaneous_Info    0
Profile               0
Qualification         0
Rating                0
p1                    0
p2                    0
dtype: int64

In [44]:
#Qualification Column
#First we will find maximum Length 
max_qual_length=-1
for i in range(len(df["Qualification"])):
    temp=len(df["Qualification"].iloc[i].strip().upper().split(","))
    if temp>max_qual_length:
        max_qual_length=temp
print("Max qualification length is :{}".format(max_qual_length))

Max qualification length is :17

In [45]:
q1=list()
q2=list()
q3=list()
q4=list()
q5=list()
q6=list()
q7=list()
q8=list()
q9=list()
q10=list()
q11=list()
q12=list()
q13=list()
q14=list()
q15=list()
q16=list()
q17=list()
for i in range(len(df["Qualification"])):
    temp=df["Qualification"].iloc[i].split(",")
    try :
        q1.append(temp[0].strip().upper())
    except :
        q1.append('NONE')
    try :
        q2.append(temp[1].strip().upper())
    except :
        q2.append('NONE')
    try :
        q3.append(temp[2].strip().upper())
    except :
        q3.append('NONE')
    try :
        q4.append(temp[3].strip().upper())
    except :
        q4.append('NONE')
    try :
        q5.append(temp[4].strip().upper())
    except :
        q5.append('NONE')
    try :
        q6.append(temp[5].strip().upper())
    except :
        q6.append('NONE')
    try :
        q7.append(temp[6].strip().upper())
    except :
        q7.append('NONE')
    try :
        q8.append(temp[7].strip().upper())
    except :
        q8.append('NONE')
    try :
        q9.append(temp[8].strip().upper())
    except :
        q9.append('NONE')
    try :
        q10.append(temp[9].strip().upper())
    except :
        q10.append('NONE')
    try :
        q11.append(temp[10].strip().upper())
    except :
        q11.append('NONE')
    try :
        q12.append(temp[11].strip().upper())
    except :
        q12.append('NONE')
    try :
        q13.append(temp[12].strip().upper())
    except :
        q13.append('NONE')
    try :
        q14.append(temp[13].strip().upper())
    except :
        q14.append('NONE')
    try :
        q15.append(temp[14].strip().upper())
    except :
        q15.append('NONE')
    try :
        q16.append(temp[15].strip().upper())
    except :
        q16.append('NONE')
    try :
        q17.append(temp[16].strip().upper())
    except :
        q17.append('NONE')

In [46]:
df["q1"]=q1
df["q2"]=q2
df["q3"]=q3
df["q4"]=q4
df["q5"]=q5
df["q6"]=q6
df["q7"]=q7
df["q8"]=q8
df["q9"]=q9
df["q10"]=q10
df["q11"]=q11
df["q12"]=q12
df["q13"]=q13
df["q14"]=q14
df["q15"]=q15
df["q16"]=q16
df["q17"]=q17

In [47]:
df.loc[(df["q8"]!="NONE")|(df["q9"]!="NONE")|(df["q10"]!="NONE")|(df["q11"]!="NONE")|(df["q12"]!="NONE")|(df["q13"]!="NONE")|(df["q14"]!="NONE")|(df["q15"]!="NONE")|(df["q16"]!="NONE")|(df["q17"]!="NONE")]

,Data,Experience,Fees,Miscellaneous_Info,Profile,Qualification,Rating,p1,p2,q1,...,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17
1593,Train,10,500,Dermabrasion Laser Resurfacing Acne / Pimples ...,5,"Diploma in Diet and Nutrition, BHMS, Diploma i...",99.0,GHATKOPAR EAST,MUMBAI,DIPLOMA IN DIET AND NUTRITION,...,FILLERS,THREADLIFTS,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
2035,Train,22,300,RCT - Root Canal Treatment Cosmetic/ Aesthetic...,1,"Fellowship in Oral implantlogy, Certified Adva...",97.0,ASHOK NAGAR,CHENNAI,FELLOWSHIP IN ORAL IMPLANTLOGY,...,FELLOWSHIP IN ADVANCED ENDOSCOPIC SINUS SURGERY,DEGREE IN DENTAL IMPLANT,FELLOWSHIP IN LASERS & COSMETOLOGY,NONE,NONE,NONE,NONE,NONE,NONE,NONE
3562,Train,5,700,missing,4,"MBBS, Diploma in Family Medicine (DFM), Certif...",0.0,COIMBATORE RACECOURSE,COIMBATORE,MBBS,...,CCMTD,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
3580,Train,17,100,Non-Invasive Cardiology Chest Pain Treatment C...,4,"MBBS, MD - General Medicine, Post Graduate Dip...",88.0,GREATER KAILASH PART 1,DELHI,MBBS,...,POST GRADUATE CERTIFICATE IN SPORTS MEDICINE,CLINICAL CARDIOLOGY CERTIFICATION,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
4174,Train,29,100,"76% 8 Feedback Old Rajendra Nagar, Delhi",4,"MBBS, DNB - General Medicine, FRCP, Post Gradu...",76.0,OLD RAJENDRA NAGAR,DELHI,MBBS,...,EULAR CERTIFICATE FOR RHEUMATIC DISEASES,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
5667,Train,13,300,missing,4,"MD - CCM, MD - Physician, Post Graduate Diplom...",0.0,PUNJAGUTTA,HYDERABAD,MD - CCM,...,POST GRADUATE DIPLOMA IN DIABETOLOGY (PGDD),MD - CARDIOLOGY,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
7248,Test,4,0,Dental Crowns Dental Fillings Dental Implant F...,1,"BDS, PG Diploma in Conservative, Endodontics a...",100.0,NEW ASHOK NAGAR,DELHI,BDS,...,FELLOW OF ACADEMY OF GENERAL EDUCATION (FAGE),ADVANCED RETREATMENT COURSE IN RCT,ADVANCED ENDOTONTIC COURSE ON ROOT CANAL,CERTIFIED COURSE IN ORAL SURGERY,MIDA,CERTIFICATION IN PROSTHODONTICS & PERIODONTOLOGY,CERTIFIED ADVANCED COURSE IN WISDOM TOOTH EXTR...,CERTIFICATE IN COSMETIC DENTISTRY,FELLOWSHIP IN AESTHETIC DENTISTRY (FAD),POST GRADUATE CERTIFICATE IN ENDODONTICS (PGCE)
7249,Test,28,0,"60% 1 Feedback AS Rao Nagar, Hyderabad",3,"FAMS - Fellowship of the Academy Medicine, MBB...",60.0,AS RAO NAGAR,HYDERABAD,FAMS - FELLOWSHIP OF THE ACADEMY MEDICINE,...,COCHLEAR IMPLANT SURGERY,ADVANCE COURSE ON DIAGNOSIS OF ALLERGY AND IMM...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE

In [48]:
df.drop(columns=["q8","q9","q10","q11","q12","q13","q14","q15","q16","q17"],inplace=True)

In [49]:
df.drop(columns=["Qualification"],inplace=True)

In [50]:
df.dtypes

Data                   object
Experience              int32
Fees                    int64
Miscellaneous_Info     object
Profile                 int32
Rating                float64
p1                     object
p2                     object
q1                     object
q2                     object
q3                     object
q4                     object
q5                     object
q6                     object
q7                     object
dtype: object

In [51]:
df.drop(['Miscellaneous_Info'],axis=1,inplace=True)

In [52]:
for col in df.columns:
    if df[col].dtype=="object":
        df[col]=LabelEncoder().fit_transform(df[col])

In [53]:
df

,Data,Experience,Fees,Profile,Rating,p1,p2,q1,q2,q3,q4,q5,q6,q7
0,1,24,100,5,100.0,321,4,8,302,406,225,104,31,13
1,1,12,350,0,98.0,926,0,5,292,406,225,104,31,13
2,1,9,300,3,0.0,492,0,102,396,406,225,104,31,13
3,1,12,250,0,0.0,70,0,14,10,406,225,104,31,13
4,1,20,250,0,100.0,364,1,5,411,406,225,104,31,13
5,1,8,100,0,0.0,659,1,5,411,406,225,104,31,13
6,1,42,200,5,0.0,352,3,8,411,406,225,104,31,13
7,1,10,200,1,99.0,33,0,6,411,406,225,104,31,13
8,1,14,100,4,0.0,588,5,102,299,406,225,104,31,13
9,1,23,100,1,0.0,41,4,12,12,406,225,104,31,13
10,1,5,700,3,0.0,836,1,102,381,157,225,104,31,13
11,1,7,100,0,0.0,790,5,5,411,406,225,104,31,13
12,1,9,200,1,98.0,142,2,6,336,406,225,104,31,13
13,1,21,350,1,0.0,312,5,6,340,406,225,104,31,13
14,1,12,500,3,0.0,394,3,102,116,157,225,104,31,13
15,1,10,200,4,0.0,749,5,102,299,406,225,104,31,13
16,1,24,100,3,0.0,819,1,102,116,406,225,104,31,13
17,1,5,300,5,0.0,669,1,102,366,406,225,104,31,13
18,1,19,400,3,79.0,417,5,102,390,406,225,104,31,13
19,1,19,150,4,100.0,265,0,102,411,406,225,104,31,13
20,1,21,100,1,100.0,653,2,127,146,12,225,104,31,13
21,1,14,500,3,0.0,881,3,102,149,406,225,104,31,13
22,1,41,200,4,0.0,119,6,102,411,406,225,104,31,13
23,1,31,100,4,0.0,825,4,102,223,406,225,104,31,13
24,1,23,100,2,0.0,26,6,102,66,406,225,104,31,13
25,1,5,100,1,0.0,632,8,6,411,406,225,104,31,13
26,1,25,500,4,100.0,265,0,102,241,406,225,104,31,13
27,1,12,250,4,95.0,421,5,102,299,446,225,104,31,13
28,1,16,100,1,0.0,868,2,6,336,406,225,104,31,13
29,1,15,500,2,97.0,160,3,35,276,406,225,104,31,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7918,0,8,0,1,100.0,417,5,103,423,12,225,104,31,13
7919,0,40,0,3,53.0,506,0,102,390,122,225,104,31,13
7920,0,43,0,4,0.0,908,6,102,307,406,225,104,31,13
7921,0,29,0,1,95.0,668,5,6,346,406,225,104,31,13
7922,0,2,0,5,0.0,474,0,8,411,406,225,104,31,13
7923,0,12,0,4,100.0,704,3,102,439,406,225,104,31,13
7924,0,3,0,5,0.0,241,5,8,411,406,225,104,31,13
7925,0,8,0,1,0.0,688,2,6,356,47,225,104,31,13
7926,0,35,0,4,88.0,133,1,102,376,406,225,104,31,13
7927,0,24,0,4,0.0,817,1,116,464,316,175,104,31,13
7928,0,13,0,1,98.0,931,0,140,411,406,225,104,31,13
7929,0,23,0,4,96.0,271,0,102,150,406,225,104,31,13
7930,0,32,0,0,0.0,119,6,5,292,406,225,104,31,13
7931,0,7,0,1,0.0,809,2,144,411,406,225,104,31,13
7932,0,26,0,3,0.0,585,3,102,390,406,225,104,31,13
7933,0,15,0,2,93.0,523,5,102,88,406,225,104,31,13
7934,0,4,0,2,0.0,884,1,102,65,406,225,104,31,13
7935,0,19,0,3,0.0,534,3,102,116,406,225,104,31,13
7936,0,26,0,4,0.0,612,3,102,411,406,225,104,31,13
7937,0,11,0,3,84.0,510,5,102,396,406,225,104,31,13
7938,0,28,0,4,0.0,612,3,102,391,189,168,104,31,13
7939,0,15,0,1,0.0,662,6,6,338,406,225,104,31,13
7940,0,17,0,1,100.0,661,6,6,340,406,225,104,31,13
7941,0,18,0,1,98.0,884,1,139,12,406,225,104,31,13
7942,0,8,0,2,0.0,435,3,102,296,476,91,116,31,13
7943,0,10,0,0,0.0,72,0,5,172,406,225,104,31,13
7944,0,4,0,2,0.0,133,1,111,493,316,225,104,31,13
7945,0,9,0,4,0.0,659,1,102,332,406,225,104,31,13
7946,0,12,0,1,98.0,33,0,6,411,406,225,104,31,13
7947,0,8,0,2,0.0,607,1,102,296,476,225,104,31,13

In [54]:
Trainfinal=df.loc[df['Data']==1]
Testfinal=df.loc[df['Data']==0]

In [55]:
Trainfinal.drop(['Data'],axis=1,inplace=True)
Testfinal.drop(['Data'],axis=1,inplace=True)

In [56]:
#separating independent and dependent variables
df_x=Trainfinal.drop(columns=["Fees"])
y=Trainfinal[["Fees"]]

In [57]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(df_x)
df_x=pd.DataFrame(x,columns=df_x.columns)

In [58]:
x_train,x_test,y_train,y_test=train_test_split(df_x,y,test_size=0.25,random_state=42)

In [59]:
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(4470, 12) (1491, 12)
(4470, 1) (1491, 1)

In [60]:
LR=LinearRegression()
LA=Lasso()
RI=Ridge()
EN=ElasticNet()
KNR=KNeighborsRegressor()
DTR=DecisionTreeRegressor(random_state=42)
ABR=AdaBoostRegressor(random_state=42)
RFR=RandomForestRegressor(random_state=42)
GBR=GradientBoostingRegressor(random_state=42)
XGR=XGBRegressor(random_state=42)

In [61]:
models=[]
models.append(('LinearRegression',LR))
models.append(('Lasso',LA))
models.append(('Ridge',RI))
models.append(('ElasticNet',EN))
models.append(('DecisionTreeRegressor',DTR))
models.append(('KNeighborsRegressor',KNR))
models.append(('AdaBoostRegressor',ABR))
models.append(('RandomForestRegressor',RFR))
models.append(('GradientBoostingRegressor',GBR))
models.append(('XGBRegressor',XGR))

In [62]:
Model=[]
R2_score=[]
cvs=[]
MSE=[]
MAE=[]
for name,model in models:
    print('*********************************',name,'*********************************')
    print('\n',model)
    Model.append(name)
    model.fit(x_train,y_train)
    pre=model.predict(x_test)
    r2=r2_score(y_test,pre)
    print('R2_score = ',r2)
    R2_score.append(r2)
    mse=mean_squared_error(y_test,pre)
    print("Mean_Squared_Error =",mse)
    MSE.append(round(mse,3))
    mae=mean_absolute_error(y_test,pre)
    print("Mean_Absolute_Error =",mae)
    MAE.append(round(mae,3))
    score= cross_val_score(model,df_x,y,cv=10,scoring='r2').mean()
    print('Cross_Val_Score = ',score)
    cvs.append(round(score,3))
    print('\n')

********************************* LinearRegression *********************************

 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
R2_score =  0.09297356316660854
Mean_Squared_Error = 31387.823980782014
Mean_Absolute_Error = 143.3123272064587
Cross_Val_Score =  0.09508320478232841


********************************* Lasso *********************************

 Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)
R2_score =  0.09362754105598237
Mean_Squared_Error = 31365.19295036723
Mean_Absolute_Error = 143.4493427247059
Cross_Val_Score =  0.09545909501258615


********************************* Ridge *********************************

 Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)
R2_score =  0.09297833364126795
Mean_Squared_Error = 31387.65889759057
Mean_Absolute_Error = 143.31288870681274
Cross_Val_Score =  0.09508456821876758


********************************* ElasticNet *********************************

 ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)
R2_score =  0.08820247762525335
Mean_Squared_Error = 31552.92831191059
Mean_Absolute_Error = 145.3225839497613
Cross_Val_Score =  0.08666202705100137


********************************* DecisionTreeRegressor *********************************

 DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=42, splitter='best')
R2_score =  -0.5317443959150501
Mean_Squared_Error = 53006.30889037931
Mean_Absolute_Error = 166.22468142186452
Cross_Val_Score =  -0.48517189608343275


********************************* KNeighborsRegressor *********************************

 KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')
R2_score =  0.052051895590868424
Mean_Squared_Error = 32803.92614352784
Mean_Absolute_Error = 139.16123407109322
Cross_Val_Score =  0.03255775729613154


********************************* AdaBoostRegressor *********************************

 AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=42)
R2_score =  0.09332534845012519
Mean_Squared_Error = 31375.650383508924
Mean_Absolute_Error = 146.88470191333468
Cross_Val_Score =  0.11205935681398156


********************************* RandomForestRegressor *********************************

 RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators='warn',
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)
R2_score =  0.14750364084025924
Mean_Squared_Error = 29500.800174007003
Mean_Absolute_Error = 131.9768835233624
Cross_Val_Score =  0.10156601476138039


********************************* GradientBoostingRegressor *********************************

 GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)
R2_score =  0.2236637072570712
Mean_Squared_Error = 26865.266454172703
Mean_Absolute_Error = 128.46108796738284
Cross_Val_Score =  0.2114276246799059


********************************* XGBRegressor *********************************

 XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             objective='reg:squarederror', random_state=42, reg_alpha=None,
             reg_lambda=None, scale_pos_weight=None, subsample=None,
             tree_method=None, validate_parameters=False, verbosity=None)
R2_score =  0.1879276894887586
Mean_Squared_Error = 28101.918209772994
Mean_Absolute_Error = 125.07836151378895
Cross_Val_Score =  0.19647747522794395

In [63]:
result = pd.DataFrame({'Model': Model, 'R2_score': R2_score ,'Mean_Squared_Error' :MSE,'Mean_Absolute_Error':MAE,'Cross_val_score':cvs})
result

,Model,R2_score,Mean_Squared_Error,Mean_Absolute_Error,Cross_val_score
0,LinearRegression,0.092974,31387.824,143.312,0.095
1,Lasso,0.093628,31365.193,143.449,0.095
2,Ridge,0.092978,31387.659,143.313,0.095
3,ElasticNet,0.088202,31552.928,145.323,0.087
4,DecisionTreeRegressor,-0.531744,53006.309,166.225,-0.485
5,KNeighborsRegressor,0.052052,32803.926,139.161,0.033
6,AdaBoostRegressor,0.093325,31375.650,146.885,0.112
7,RandomForestRegressor,0.147504,29500.800,131.977,0.102
8,GradientBoostingRegressor,0.223664,26865.266,128.461,0.211
9,XGBRegressor,0.187928,28101.918,125.078,0.196

We can choose GradientBoostingRgressor Algorithm as RMSE score is very less

In [64]:
from sklearn.externals import joblib
joblib.dump(GBR,'Doctor_Fee_GBR.pkl')

['Doctor_Fee_GBR.pkl']